div {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.circle {
    object-fit: cover;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.editbutton {
    height: 14px;
    width: px;
}

.textInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #dfdfdf;
    outline: none;
}

body,
html {
    overflow: auto;
    height: 100%;
}