.circle {
    object-fit: cover;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.textInput {
    max-width: 100%;
    padding: 10px;
    border: 1px solid #dfdfdf;
    outline: none;
    text-wrap: wrap;
}

.description {
    text-wrap: wrap
}

body,
html {
    overflow: auto;
    height: 100%;
}