div {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.editbutton {
    height: 14px;
    width: px;
}